### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# ENV files
*env

# Basics
*.py[cod]
__pycache__

# Logs
*.log
pip-log.txt
npm-debug.log*

# virtual environments
.env

# User-uploaded media
static_root/
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
.env
.TemporaryItems
.Trashes
.VolumeIcon.icns
