{% load cms_tags sekizai_tags %}

<html>
    <head>
        <title>{% page_attribute "page_title" %}</title>
        {% render_block "css" %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    </head>
    <body>
        {% cms_toolbar %}

        <div class="container page">
            <div class="header_container">
                {% static_placeholder 'header' %}
                {% block header %}{% endblock header %}
            </div>

            <div class="page_content_container_cls">
                {% placeholder "content" %}
                {% block content %}{% endblock content %}
            </div>

            <div class="footer_container">
                {% static_placeholder "footer" %}
                {% block footer %}{% endblock footer %}
            </div>
        </div>

        {% render_block "js" %}
        {% block additional_js %}
        {% endblock additional_js %}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    </body>
</html>
