{% load static cms_tags staticfiles sekizai_tags %}

{% addtoblock "css" %}
    <style type="text/css">
        @import url(https://allfont.net/allfont.css?fonts=colonna-mt);

        body {
            background: linear-gradient(to bottom, rgb(220, 244, 255) 0%, rgba(3,75, 82, 0) 100%);
            height: 100%;
            margin: 0;
            background-repeat: no-repeat;
            background-attachment: fixed;
            font-family: Verdana, Arial, sans-serif;
        }

        .box{
            padding:60px 0px;
        }

        .box-part.content-block {
            border: 1px solid #0aa3c7;
            padding: 75px 15px;
            border-radius:10px;
            background: #0aa3c7;
            margin:30px 0px;
        }

        .box-part:hover {
            background: #0aa3c7;
            -webkit-transition: all 0.5s ease-out;
            -moz-transition: all 0.5s ease-out;
            -o-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
        }

        .box-part a {
            font-family: "Colonna Mt";
            color: #f0f0f0;
        }

        .box-part:hover .title ,
        .box-part:hover .text ,
        .box-part:hover a{
            color: #fff;
            -webkit-transition: all 0.5s ease-out;
            -moz-transition: all 0.5s ease-out;
            -o-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
        }

        .card {
            padding: 30px 0;
            cursor: pointer;
        }

        .card .content-block:not(.box-part) {
            padding: 10px;
        }

        .card .content-block:hover {
            box-shadow:0 30px 70px rgba(249, 243, 243, 0.54);
            -webkit-transition: all 0.5s ease-out;
            -moz-transition: all 0.5s ease-out;
            -o-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
        }

        .card .box {
            position: relative;
            /*box-shadow: 0 12px 14px 0 rgba(0,0,0,.1);*/
            top:50%;
            left:0;
            text-align:center;
            padding:20px;
            box-sizing:border-box;
            width:100%;
            height: 15%;
            background-repeat:no-repeat;
            background-size:contain;
            background-position:center center;
        }

        .card .box .img img {
            display: none;
            width:100%;
            height:100%;
        }
        .card .box h2 {
            font-size:20px;
            color:#262626;
            margin:20px auto;
        }

        .title-with-img {
            font-family: "Colonna Mt";
            color: #f0f0f0;
        }
    </style>
{% endaddtoblock %}


{% if instance.has_image %}
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 tile-component card">
        <div class="{% if not instance.has_image %}box-part{% endif %} content-block text-center" {% if instance.link_to_page.get_absolute_url %} onclick="window.location.pathname={{ instance.link_to_page.get_absolute_url }}" {% endif %}>
            <a href="{% if instance.link_to_page.get_absolute_url %}{{ instance.link_to_page.get_absolute_url }}{% endif %}">
                <div class="box" {% if instance.has_image %} style="background-image: url('{{ instance.image.url }}')" {% endif %}>
                    <div class="img">
                        <img src="{{ instance.image.url }}" alt="{{ instance.img_alt_text }}" />
                    </div>
                </div>
                <h3 class="title-with-img">{{ instance.tile_title }}</h3>
            </a>
        </div>
    </div>
{% else %}
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 tile-component card">
        <div class="{% if not instance.has_image %}box-part{% endif %} content-block text-center" {% if instance.link_to_page.get_absolute_url %} onclick="window.location.pathname={{ instance.link_to_page.get_absolute_url }}" {% endif %}>
            <a href="{% if instance.link_to_page.get_absolute_url %}{{ instance.link_to_page.get_absolute_url }}{% endif %}">
                <h3>{{ instance.tile_title }}</h3>
            </a>
        </div>
    </div>
{% endif %}