{% load cms_tags staticfiles sekizai_tags %}

{% addtoblock "css" %}
    <style type="text/css">
        .header-logo > img {
            height: 100%;
        }
    </style>
{% endaddtoblock %}

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand header-logo" href="/">
      <img src="{% static 'images/dell-emc-logo.png' %}">
  </a>

  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
